@model code_12.Models.Bitcoin

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Bitcoin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="highest" class="control-label"></label>
                <input asp-for="highest" class="form-control" />
                <span asp-validation-for="highest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lowest" class="control-label"></label>
                <input asp-for="lowest" class="form-control" />
                <span asp-validation-for="lowest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="high" class="control-label"></label>
                <input asp-for="high" class="form-control" />
                <span asp-validation-for="high" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="low" class="control-label"></label>
                <input asp-for="low" class="form-control" />
                <span asp-validation-for="low" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reading" class="control-label"></label>
                <input asp-for="reading" class="form-control" />
                <span asp-validation-for="reading" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
